body{
	background-color: #808080;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#from {
    width: 410px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid darkgray;
    padding: 28px;
    background-color: black;
}



.input {
    margin: 5px;
    width: 93%;
    padding: 10px;
}
.sf{
	background-color: red;
	color: white;
	font-family: arial black; 
}
.input2{
	margin: 5px;
    width: 99%;
    padding: 10px;
}
.gender{
	margin-top: 20px
}
.gender2{
	display: inline;
	
}
.hobbies2{
	display: inline-block;
}
.signup{
	margin: 5px;
    width: 95%;
    padding: 10px;
    background-color: #ff0000;
    margin-top: 25px;
}
.signup2{
	text-decoration: none;
    background-color: #ffffff12;
    color: white;
    font-family: arial black;
    border: 1px solid #ffffff12;
    font-size: 16px;
    padding: 3px;
    width: 100%;
    border-radius: 5px


}
.cancel{
    text-decoration: none;
    background-color:#00ff00;
    color: white;
    font-family: arial black;
    border: 1px solid #ffffff12;
    font-size: 16px;
    padding: 3px;
    width: 100%;
    border-radius: 5px


}